#add-field {
  position: fixed;
  left: 16px;
  right: 16px;
  top: 50%;
  border-radius: 5px;
  max-height: 120px;
  min-height: 44px;
  border: none;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  color: var(--primary-color);
  padding: 11px;
  transform: scale(0);
  transition: transform 150ms;
}

#add-field.addtxtarea-exit-done {
  transform: scale(1);
}

@media (min-width: 500px) {
  #add-field {
    width: 428px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
